body{
    .container{
        h2{
            text-align: center;
            margin: 5% 0;
            font-weight: 400;
        }
        .grid-img{
            display: grid;
            grid-template-columns: repeat(3, 2fr);
            width: 75%;
            margin: auto;
            gap: 20px;

            .overlay-image {
                position: relative;
                width: 100%;
               
                a{
                    display: block;
                    text-decoration: none;
                    color: white;
                    width: 100%;
                    
                    img{
                        border-radius: 8px;
                        width: 100%;
                        position: relative;
                    }
                    .hover {
                        position: absolute;
                        opacity: 0;
                        transition: .5s ease;
                        border-radius: 8px;
                        top:0; right: 0; left: 0; bottom: 4px;

                        .text{
                            position: relative;
                            text-align: center;
                            top: 80%;
                        }
                    }
                }
                a:hover .hover {
                 opacity: 1;
                }
                a .hover {
                 background-color: rgba(0,0,0,0.5);
                }
                
            } 
           
        }
    }
}