@import './variables','./nav','./header','./choose','./galery','./customer','./detail','./footer';

body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.container{
    width: 80%;
    margin: auto;
}